TELEGRAM_BOT_TOKEN=
API_BASE_URL=http://localhost:4000
VITE_API_BASE_URL=http://localhost:4000
MINIAPP_BASE_URL=http://localhost:3000
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/langue_buster
REDIS_URL=redis://localhost:6379
